@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF8F0;
  color: #3A3A3A;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}